In [1]:
import pandas as pd

In [2]:
df_calendar = pd.read_csv('calendar_afcs2025.csv')
df_calendar.head()

,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_TX
0,1/29/2011,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0
1,1/30/2011,11101,Sunday,2,1,2011,NaN,NaN,NaN,NaN,0
2,1/31/2011,11101,Monday,3,1,2011,NaN,NaN,NaN,NaN,0
3,2/1/2011,11101,Tuesday,4,2,2011,NaN,NaN,NaN,NaN,1
4,2/2/2011,11101,Wednesday,5,2,2011,NaN,NaN,NaN,NaN,0

In [3]:
df_train = pd.read_csv("sales_train_validation_afcs2025.csv")
df_train

,id,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,FOODS_3_001_TX_3_validation,0,2,1,3,0,0,1,0,2,...,0,0,0,0,2,0,0,5,2,0
1,FOODS_3_002_TX_3_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,FOODS_3_003_TX_3_validation,0,0,0,0,0,0,0,0,0,...,1,1,0,0,1,0,0,1,0,0
3,FOODS_3_004_TX_3_validation,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
4,FOODS_3_005_TX_3_validation,0,1,1,0,0,1,2,0,0,...,0,4,2,1,1,0,1,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,FOODS_3_823_TX_3_validation,0,0,0,0,0,0,0,0,0,...,1,1,0,1,0,0,0,2,0,2
819,FOODS_3_824_TX_3_validation,0,1,0,1,0,2,0,1,1,...,0,0,0,0,0,0,0,0,0,0
820,FOODS_3_825_TX_3_validation,0,0,0,2,1,1,0,0,1,...,1,1,1,3,1,0,0,4,2,0
821,FOODS_3_826_TX_3_validation,0,0,0,0,0,0,0,0,0,...,0,2,1,1,5,3,1,2,1,2
822,FOODS_3_827_TX_3_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,3

In [4]:
df_val = pd.read_csv("sales_test_validation_afcs2025.csv")
df_val

,id,d_1914,d_1915,d_1916,d_1917,d_1918,d_1919,d_1920,d_1921,d_1922,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,FOODS_3_001_TX_3_validation,1,0,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
1,FOODS_3_002_TX_3_validation,0,0,0,0,0,0,0,0,0,...,2,0,0,2,1,0,3,1,1,1
2,FOODS_3_003_TX_3_validation,0,0,1,0,0,0,0,0,1,...,2,0,2,1,0,2,0,0,2,1
3,FOODS_3_004_TX_3_validation,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4,FOODS_3_005_TX_3_validation,1,1,2,0,2,0,2,1,4,...,1,0,1,1,1,2,4,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,FOODS_3_823_TX_3_validation,0,0,1,0,0,0,0,0,1,...,1,0,0,0,1,0,1,1,0,1
819,FOODS_3_824_TX_3_validation,0,0,0,0,0,0,0,2,0,...,0,0,2,1,0,1,0,2,0,0
820,FOODS_3_825_TX_3_validation,2,0,0,2,2,0,3,1,1,...,3,1,1,2,0,2,5,0,0,3
821,FOODS_3_826_TX_3_validation,1,0,1,5,1,0,1,1,3,...,2,2,2,0,0,2,4,0,6,2
822,FOODS_3_827_TX_3_validation,10,0,2,0,0,3,0,1,2,...,0,0,2,2,2,1,0,4,1,2

In [5]:
df_test = pd.read_csv("sales_test_evaluation_afcs_2025.csv")
df_test

,id,d_1942,d_1943,d_1944,d_1945,d_1946,d_1947,d_1948,d_1949,d_1950,...,d_1960,d_1961,d_1962,d_1963,d_1964,d_1965,d_1966,d_1967,d_1968,d_1969
0,FOODS_3_001_TX_3_validation,0,0,0,0,0,1,2,0,2,...,0,0,1,0,0,0,0,0,0,0
1,FOODS_3_002_TX_3_validation,5,0,2,2,2,0,1,0,1,...,6,2,3,4,4,6,6,0,0,0
2,FOODS_3_003_TX_3_validation,2,2,0,0,2,0,1,0,0,...,0,2,0,1,0,0,0,1,0,0
3,FOODS_3_004_TX_3_validation,0,1,0,0,0,0,0,1,0,...,0,0,1,0,1,3,0,0,0,0
4,FOODS_3_005_TX_3_validation,3,3,2,0,0,2,2,3,0,...,0,2,0,1,2,5,0,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,FOODS_3_823_TX_3_validation,1,0,2,1,1,0,0,1,0,...,0,0,1,0,0,1,0,0,0,0
819,FOODS_3_824_TX_3_validation,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
820,FOODS_3_825_TX_3_validation,3,2,3,0,0,0,1,1,1,...,1,1,3,0,2,1,2,2,4,0
821,FOODS_3_826_TX_3_validation,1,1,3,2,1,2,4,0,3,...,1,0,0,0,0,0,0,1,2,1
822,FOODS_3_827_TX_3_validation,0,0,0,5,0,2,7,0,0,...,0,1,0,3,1,4,3,3,1,0

In [6]:
df_price = pd.read_csv("sell_prices_afcs2025.csv")
df_price

       store_id      item_id  wm_yr_wk  sell_price
0          TX_3  FOODS_3_001     11101        2.28
1          TX_3  FOODS_3_001     11102        2.28
2          TX_3  FOODS_3_001     11103        2.28
3          TX_3  FOODS_3_001     11104        2.28
4          TX_3  FOODS_3_001     11105        2.28
...         ...          ...       ...         ...
185255     TX_3  FOODS_3_827     11617        1.00
185256     TX_3  FOODS_3_827     11618        1.00
185257     TX_3  FOODS_3_827     11619        1.00
185258     TX_3  FOODS_3_827     11620        1.00
185259     TX_3  FOODS_3_827     11621        1.00

[185260 rows x 4 columns]

In [7]:
df_calendar.fillna(value='no_event', inplace=True)
df_calendar

,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_TX
0,1/29/2011,11101,Saturday,1,1,2011,no_event,no_event,no_event,no_event,0
1,1/30/2011,11101,Sunday,2,1,2011,no_event,no_event,no_event,no_event,0
2,1/31/2011,11101,Monday,3,1,2011,no_event,no_event,no_event,no_event,0
3,2/1/2011,11101,Tuesday,4,2,2011,no_event,no_event,no_event,no_event,1
4,2/2/2011,11101,Wednesday,5,2,2011,no_event,no_event,no_event,no_event,0
...,...,...,...,...,...,...,...,...,...,...,...
1964,6/15/2016,11620,Wednesday,5,6,2016,no_event,no_event,no_event,no_event,1
1965,6/16/2016,11620,Thursday,6,6,2016,no_event,no_event,no_event,no_event,0
1966,6/17/2016,11620,Friday,7,6,2016,no_event,no_event,no_event,no_event,0
1967,6/18/2016,11621,Saturday,1,6,2016,no_event,no_event,no_event,no_event,0
1968,6/19/2016,11621,Sunday,2,6,2016,NBAFinalsEnd,Sporting,Father's day,Cultural,0

In [8]:
l=[]
for i in range(1,1914):
  l.append("d_"+str(i))

df_train_final=pd.melt(df_train,id_vars=['id'],\
                 value_vars=l,var_name="d",value_name="sales")

df_train_final

                                  id       d  sales
0        FOODS_3_001_TX_3_validation     d_1      0
1        FOODS_3_002_TX_3_validation     d_1      0
2        FOODS_3_003_TX_3_validation     d_1      0
3        FOODS_3_004_TX_3_validation     d_1      0
4        FOODS_3_005_TX_3_validation     d_1      0
...                              ...     ...    ...
1574394  FOODS_3_823_TX_3_validation  d_1913      2
1574395  FOODS_3_824_TX_3_validation  d_1913      0
1574396  FOODS_3_825_TX_3_validation  d_1913      0
1574397  FOODS_3_826_TX_3_validation  d_1913      2
1574398  FOODS_3_827_TX_3_validation  d_1913      3

[1574399 rows x 3 columns]

In [9]:
l=[]
for i in range(1914,1942):
  l.append("d_"+str(i))

df_val_final=pd.melt(df_val,id_vars=['id'],\
                 value_vars=l,var_name="d",value_name="sales")

df_val_final

                                id       d  sales
0      FOODS_3_001_TX_3_validation  d_1914      1
1      FOODS_3_002_TX_3_validation  d_1914      0
2      FOODS_3_003_TX_3_validation  d_1914      0
3      FOODS_3_004_TX_3_validation  d_1914      0
4      FOODS_3_005_TX_3_validation  d_1914      1
...                            ...     ...    ...
23039  FOODS_3_823_TX_3_validation  d_1941      1
23040  FOODS_3_824_TX_3_validation  d_1941      0
23041  FOODS_3_825_TX_3_validation  d_1941      3
23042  FOODS_3_826_TX_3_validation  d_1941      2
23043  FOODS_3_827_TX_3_validation  d_1941      2

[23044 rows x 3 columns]

In [10]:
l=[]
for i in range(1942,1970):
  l.append("d_"+str(i))

df_test_final=pd.melt(df_test,id_vars=['id'],\
                 value_vars=l,var_name="d",value_name="sales")

df_test_final

                                id       d  sales
0      FOODS_3_001_TX_3_validation  d_1942      0
1      FOODS_3_002_TX_3_validation  d_1942      5
2      FOODS_3_003_TX_3_validation  d_1942      2
3      FOODS_3_004_TX_3_validation  d_1942      0
4      FOODS_3_005_TX_3_validation  d_1942      3
...                            ...     ...    ...
23039  FOODS_3_823_TX_3_validation  d_1969      0
23040  FOODS_3_824_TX_3_validation  d_1969      0
23041  FOODS_3_825_TX_3_validation  d_1969      0
23042  FOODS_3_826_TX_3_validation  d_1969      1
23043  FOODS_3_827_TX_3_validation  d_1969      0

[23044 rows x 3 columns]

In [11]:
df_price["id"] = df_price["item_id"] + "_" + df_price["store_id"] + "_validation"
df_price

,store_id,item_id,wm_yr_wk,sell_price,id
0,TX_3,FOODS_3_001,11101,2.28,FOODS_3_001_TX_3_validation
1,TX_3,FOODS_3_001,11102,2.28,FOODS_3_001_TX_3_validation
2,TX_3,FOODS_3_001,11103,2.28,FOODS_3_001_TX_3_validation
3,TX_3,FOODS_3_001,11104,2.28,FOODS_3_001_TX_3_validation
4,TX_3,FOODS_3_001,11105,2.28,FOODS_3_001_TX_3_validation
...,...,...,...,...,...
185255,TX_3,FOODS_3_827,11617,1.00,FOODS_3_827_TX_3_validation
185256,TX_3,FOODS_3_827,11618,1.00,FOODS_3_827_TX_3_validation
185257,TX_3,FOODS_3_827,11619,1.00,FOODS_3_827_TX_3_validation
185258,TX_3,FOODS_3_827,11620,1.00,FOODS_3_827_TX_3_validation
185259,TX_3,FOODS_3_827,11621,1.00,FOODS_3_827_TX_3_validation

In [12]:

l = []
for i in range(1,len(df_calendar)+1):
    l.append("d_"+str(i))
df_calendar['d'] = l
df_calendar

,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_TX,d
0,1/29/2011,11101,Saturday,1,1,2011,no_event,no_event,no_event,no_event,0,d_1
1,1/30/2011,11101,Sunday,2,1,2011,no_event,no_event,no_event,no_event,0,d_2
2,1/31/2011,11101,Monday,3,1,2011,no_event,no_event,no_event,no_event,0,d_3
3,2/1/2011,11101,Tuesday,4,2,2011,no_event,no_event,no_event,no_event,1,d_4
4,2/2/2011,11101,Wednesday,5,2,2011,no_event,no_event,no_event,no_event,0,d_5
...,...,...,...,...,...,...,...,...,...,...,...,...
1964,6/15/2016,11620,Wednesday,5,6,2016,no_event,no_event,no_event,no_event,1,d_1965
1965,6/16/2016,11620,Thursday,6,6,2016,no_event,no_event,no_event,no_event,0,d_1966
1966,6/17/2016,11620,Friday,7,6,2016,no_event,no_event,no_event,no_event,0,d_1967
1967,6/18/2016,11621,Saturday,1,6,2016,no_event,no_event,no_event,no_event,0,d_1968
1968,6/19/2016,11621,Sunday,2,6,2016,NBAFinalsEnd,Sporting,Father's day,Cultural,0,d_1969

In [13]:
df_train_final=df_train_final.merge(df_calendar,on='d',copy=False)
df_train_final=df_train_final.merge(df_price,on=["id", "wm_yr_wk"],copy=False)
df_train_final

,id,d,sales,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_TX,store_id,item_id,sell_price
0,FOODS_3_001_TX_3_validation,d_1,0,1/29/2011,11101,Saturday,1,1,2011,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_001,2.28
1,FOODS_3_005_TX_3_validation,d_1,0,1/29/2011,11101,Saturday,1,1,2011,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_005,1.68
2,FOODS_3_007_TX_3_validation,d_1,27,1/29/2011,11101,Saturday,1,1,2011,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_007,0.20
3,FOODS_3_011_TX_3_validation,d_1,1,1/29/2011,11101,Saturday,1,1,2011,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_011,1.98
4,FOODS_3_014_TX_3_validation,d_1,3,1/29/2011,11101,Saturday,1,1,2011,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_014,1.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1246612,FOODS_3_823_TX_3_validation,d_1913,2,4/24/2016,11613,Sunday,2,4,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_823,2.98
1246613,FOODS_3_824_TX_3_validation,d_1913,0,4/24/2016,11613,Sunday,2,4,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_824,2.48
1246614,FOODS_3_825_TX_3_validation,d_1913,0,4/24/2016,11613,Sunday,2,4,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_825,3.98
1246615,FOODS_3_826_TX_3_validation,d_1913,2,4/24/2016,11613,Sunday,2,4,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_826,1.28
1246616,FOODS_3_827_TX_3_validation,d_1913,3,4/24/2016,11613,Sunday,2,4,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_827,1.00

In [14]:
df_val_final=df_val_final.merge(df_calendar,on='d',copy=False)
df_val_final=df_val_final.merge(df_price,on=["id", "wm_yr_wk"],copy=False)
df_val_final

,id,d,sales,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_TX,store_id,item_id,sell_price
0,FOODS_3_001_TX_3_validation,d_1914,1,4/25/2016,11613,Monday,3,4,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_001,2.50
1,FOODS_3_002_TX_3_validation,d_1914,0,4/25/2016,11613,Monday,3,4,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_002,2.56
2,FOODS_3_003_TX_3_validation,d_1914,0,4/25/2016,11613,Monday,3,4,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_003,3.64
3,FOODS_3_004_TX_3_validation,d_1914,0,4/25/2016,11613,Monday,3,4,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_004,5.98
4,FOODS_3_005_TX_3_validation,d_1914,1,4/25/2016,11613,Monday,3,4,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_005,2.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23039,FOODS_3_823_TX_3_validation,d_1941,1,5/22/2016,11617,Sunday,2,5,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_823,2.98
23040,FOODS_3_824_TX_3_validation,d_1941,0,5/22/2016,11617,Sunday,2,5,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_824,2.48
23041,FOODS_3_825_TX_3_validation,d_1941,3,5/22/2016,11617,Sunday,2,5,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_825,3.98
23042,FOODS_3_826_TX_3_validation,d_1941,2,5/22/2016,11617,Sunday,2,5,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_826,1.28
23043,FOODS_3_827_TX_3_validation,d_1941,2,5/22/2016,11617,Sunday,2,5,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_827,1.00

In [15]:
df_test_final=df_test_final.merge(df_calendar,on='d',copy=False)
df_test_final=df_test_final.merge(df_price,on=["id", "wm_yr_wk"],copy=False)
df_test_final

,id,d,sales,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_TX,store_id,item_id,sell_price
0,FOODS_3_001_TX_3_validation,d_1942,0,5/23/2016,11617,Monday,3,5,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_001,2.50
1,FOODS_3_002_TX_3_validation,d_1942,5,5/23/2016,11617,Monday,3,5,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_002,2.56
2,FOODS_3_003_TX_3_validation,d_1942,2,5/23/2016,11617,Monday,3,5,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_003,3.64
3,FOODS_3_004_TX_3_validation,d_1942,0,5/23/2016,11617,Monday,3,5,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_004,5.98
4,FOODS_3_005_TX_3_validation,d_1942,3,5/23/2016,11617,Monday,3,5,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_005,2.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23039,FOODS_3_823_TX_3_validation,d_1969,0,6/19/2016,11621,Sunday,2,6,2016,NBAFinalsEnd,Sporting,Father's day,Cultural,0,TX_3,FOODS_3_823,2.98
23040,FOODS_3_824_TX_3_validation,d_1969,0,6/19/2016,11621,Sunday,2,6,2016,NBAFinalsEnd,Sporting,Father's day,Cultural,0,TX_3,FOODS_3_824,2.48
23041,FOODS_3_825_TX_3_validation,d_1969,0,6/19/2016,11621,Sunday,2,6,2016,NBAFinalsEnd,Sporting,Father's day,Cultural,0,TX_3,FOODS_3_825,3.98
23042,FOODS_3_826_TX_3_validation,d_1969,1,6/19/2016,11621,Sunday,2,6,2016,NBAFinalsEnd,Sporting,Father's day,Cultural,0,TX_3,FOODS_3_826,1.28
23043,FOODS_3_827_TX_3_validation,d_1969,0,6/19/2016,11621,Sunday,2,6,2016,NBAFinalsEnd,Sporting,Father's day,Cultural,0,TX_3,FOODS_3_827,1.00

In [16]:
df_train_final.to_csv('df_train_final.csv',index=False)
df_test_final.to_csv('df_test_final.csv',index=False)
df_val_final.to_csv('df_val_final.csv',index=False)

In [17]:
df_train_final

,id,d,sales,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_TX,store_id,item_id,sell_price
0,FOODS_3_001_TX_3_validation,d_1,0,1/29/2011,11101,Saturday,1,1,2011,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_001,2.28
1,FOODS_3_005_TX_3_validation,d_1,0,1/29/2011,11101,Saturday,1,1,2011,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_005,1.68
2,FOODS_3_007_TX_3_validation,d_1,27,1/29/2011,11101,Saturday,1,1,2011,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_007,0.20
3,FOODS_3_011_TX_3_validation,d_1,1,1/29/2011,11101,Saturday,1,1,2011,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_011,1.98
4,FOODS_3_014_TX_3_validation,d_1,3,1/29/2011,11101,Saturday,1,1,2011,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_014,1.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1246612,FOODS_3_823_TX_3_validation,d_1913,2,4/24/2016,11613,Sunday,2,4,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_823,2.98
1246613,FOODS_3_824_TX_3_validation,d_1913,0,4/24/2016,11613,Sunday,2,4,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_824,2.48
1246614,FOODS_3_825_TX_3_validation,d_1913,0,4/24/2016,11613,Sunday,2,4,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_825,3.98
1246615,FOODS_3_826_TX_3_validation,d_1913,2,4/24/2016,11613,Sunday,2,4,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_826,1.28
1246616,FOODS_3_827_TX_3_validation,d_1913,3,4/24/2016,11613,Sunday,2,4,2016,no_event,no_event,no_event,no_event,0,TX_3,FOODS_3_827,1.00

## Features

In [18]:
df_train_final = pd.read_csv('df_train_final.csv')
df_test_final = pd.read_csv('df_test_final.csv')
df_val_final = pd.read_csv('df_val_final.csv')

In [19]:
from sklearn.preprocessing import LabelEncoder
import pickle

In [20]:
lbl=LabelEncoder()
df_train_final['item_id'] = lbl.fit_transform(df_train_final['item_id'])
df_val_final['item_id'] = lbl.fit_transform(df_val_final['item_id'])
df_test_final['item_id'] = lbl.fit_transform(df_test_final['item_id'])

pickle.dump(lbl,open('label_encoder_item_id.sav','wb'))

In [21]:
df_test_final.drop(["store_id"],axis=1,inplace=True)
df_train_final.drop(["store_id"],axis=1,inplace=True)
df_val_final.drop(["store_id"],axis=1,inplace=True)

In [22]:
df_train_final['event_name_1'] = lbl.fit_transform(df_train_final['event_name_1'])
df_val_final['event_name_1'] = lbl.fit_transform(df_val_final['event_name_1'])
df_test_final['event_name_1'] = lbl.fit_transform(df_test_final['event_name_1'])

pickle.dump(lbl,open('label_encoder_event_name_1.sav','wb'))

In [23]:
df_train_final['event_name_2'] = lbl.fit_transform(df_train_final['event_name_2'])
df_val_final['event_name_2'] = lbl.fit_transform(df_val_final['event_name_2'])
df_test_final['event_name_2'] = lbl.fit_transform(df_test_final['event_name_2'])

pickle.dump(lbl,open('label_encoder_event_name_2.sav','wb'))

In [24]:
df_train_final['event_type_1'] = lbl.fit_transform(df_train_final['event_type_1'])
df_val_final['event_type_1'] = lbl.fit_transform(df_val_final['event_type_1'])
df_test_final['event_type_1'] = lbl.fit_transform(df_test_final['event_type_1'])

pickle.dump(lbl,open('label_encoder_event_type_1.sav','wb'))

In [25]:
df_train_final['event_type_2'] = lbl.fit_transform(df_train_final['event_type_2'])
df_val_final['event_type_2'] = lbl.fit_transform(df_val_final['event_type_2'])
df_test_final['event_type_2'] = lbl.fit_transform(df_test_final['event_type_2'])

pickle.dump(lbl,open('label_encoder_event_type_2.sav','wb'))

In [26]:
df_train_final['year'] = lbl.fit_transform(df_train_final['year'])
df_val_final['year'] = lbl.fit_transform(df_val_final['year'])
df_test_final['year'] = lbl.fit_transform(df_test_final['year'])

pickle.dump(lbl,open('label_encoder_year.sav','wb'))

In [27]:
df_test_final.drop(["weekday"],axis=1,inplace=True)
df_train_final.drop(["weekday"],axis=1,inplace=True)
df_val_final.drop(["weekday"],axis=1,inplace=True)

In [28]:
df_test_final.drop(["wm_yr_wk"],axis=1,inplace=True)
df_train_final.drop(["wm_yr_wk"],axis=1,inplace=True)
df_val_final.drop(["wm_yr_wk"],axis=1,inplace=True)

In [29]:
import calendar
from datetime import datetime

def get_week_number(x):
    """Parses date in 'MM/DD/YYYY' format and returns ISO week number"""
    # %m = Month, %d = Day, %Y = 4-digit Year
    date_obj = datetime.strptime(x, "%m/%d/%Y") 
    return date_obj.isocalendar()[1]

In [30]:
df_train_final['week_number']=df_train_final['date'].apply(lambda x:get_week_number(x))
df_test_final['week_number']=df_test_final['date'].apply(lambda x:get_week_number(x))
df_val_final['week_number']=df_val_final['date'].apply(lambda x:get_week_number(x))

In [31]:
def get_season(x):
    """This function is used to get season in US according to various months"""
    if x in [12,1,2]:
        return 0      #"Winter"
    elif x in [3,4,5]:
        return 1   #"Spring"
    elif x in [6,7,8]:
        return 2   #"Summer"
    else:
        return 3   #"Autumn"

In [32]:
df_train_final['season']=df_train_final['month'].apply(lambda x:get_season(x))
df_test_final['season']=df_test_final['month'].apply(lambda x:get_season(x))
df_val_final['season']=df_val_final['month'].apply(lambda x:get_season(x))

In [33]:
def check_if_quater_begin(x):
    """This is used to check if day is beginning of quarter"""
    # Parse the date string "MM/DD/YYYY"
    date_obj = datetime.strptime(x, "%m/%d/%Y")
    
    day = date_obj.day
    month = date_obj.month
    
    # Returns 1 if it is the 1st of Jan, Apr, Jul, or Sep
    return 1 if (day == 1 and (month in [1, 4, 7, 10])) else 0

In [34]:
df_train_final['quater_start']=df_train_final['date'].apply(lambda x:check_if_quater_begin(x))
df_test_final['quater_start']=df_test_final['date'].apply(lambda x:check_if_quater_begin(x))
df_val_final['quater_start']=df_val_final['date'].apply(lambda x:check_if_quater_begin(x))

In [35]:
def check_if_quater_end(x):
    """This is used to check if day is beginning of quarter"""
    # Parse the date string "MM/DD/YYYY"
    date_obj = datetime.strptime(x, "%m/%d/%Y")
    
    day = date_obj.day
    month = date_obj.month
    
    # Returns 1 if it is the 1st of Jan, Apr, Jul, or Sep
    if (day==31 and month==3) or (day==30 and month==6) or (day==30 and month==9) or (day==31 and month==12):
        return 1
    else:
        return 0

In [36]:
df_train_final['quater_end']=df_train_final['date'].apply(lambda x:check_if_quater_end(x))
df_test_final['quater_end']=df_test_final['date'].apply(lambda x:check_if_quater_end(x))
df_val_final['quater_end']=df_val_final['date'].apply(lambda x:check_if_quater_end(x))

In [37]:
def month_start(x):
    """This is used to check if day is begining of month"""
    date_obj = datetime.strptime(x, "%m/%d/%Y")
    day = date_obj.day
    return 1 if day==1 else 0

In [38]:
df_train_final['month_start']=df_train_final['date'].apply(lambda x:month_start(x))
df_test_final['month_start']=df_test_final['date'].apply(lambda x:month_start(x))
df_val_final['month_start']=df_val_final['date'].apply(lambda x:month_start(x))

In [39]:
def month_end(x):
    """This is used to check if day is end of month"""
    date_obj = datetime.strptime(x, "%m/%d/%Y")
    
    day = date_obj.day
    month = date_obj.month
    year = date_obj.year
    leap_yr=(year%4==0) # to check if it is a leap year
    val=(day==31 and month==1) or (day==29 if leap_yr else day==28) or (day==31 and month==3) or (day==30 and month==4) or\
        (day==31 and month==5) or (day==30 and month==6) or (day==31 and month==7) or (day==31 and month==8) or\
        (day==30 and month==9) or (day==31 and month==10) or (day==30 and month==11) or (day==31 and month==12)
    return 1 if val else 0

In [40]:
df_train_final['month_end']=df_train_final['date'].apply(lambda x:month_end(x))
df_test_final['month_end']=df_test_final['date'].apply(lambda x:month_end(x))
df_val_final['month_end']=df_val_final['date'].apply(lambda x:month_end(x))

In [41]:
def year_start(x):
    """This is used to check if day is begining of year"""
    date_obj = datetime.strptime(x, "%m/%d/%Y")
    
    day = date_obj.day
    month = date_obj.month
    return 1 if (day==1 and month==1) else 0

def year_end(x):
    """This is used to check if day is end of year"""
    date_obj = datetime.strptime(x, "%m/%d/%Y")
    
    day = date_obj.day
    month = date_obj.month
    return 1 if (day==31 and month==12) else 0

In [42]:
df_train_final['year_start']=df_train_final['date'].apply(lambda x:year_start(x))
df_test_final['year_start']=df_test_final['date'].apply(lambda x:year_start(x))
df_val_final['year_start']=df_val_final['date'].apply(lambda x:year_start(x))

df_train_final['year_end']=df_train_final['date'].apply(lambda x:year_end(x))
df_test_final['year_end']=df_test_final['date'].apply(lambda x:year_end(x))
df_val_final['year_end']=df_val_final['date'].apply(lambda x:year_end(x))

In [43]:
df_train_final.columns

Index(['id', 'd', 'sales', 'date', 'wday', 'month', 'year', 'event_name_1',
       'event_type_1', 'event_name_2', 'event_type_2', 'snap_TX', 'item_id',
       'sell_price', 'week_number', 'season', 'quater_start', 'quater_end',
       'month_start', 'month_end', 'year_start', 'year_end'],
      dtype='object')

In [44]:
import gc
import numpy as np

In [45]:
tt = pd.concat([df_train_final, df_val_final, df_test_final], ignore_index=True)

tt.sort_values(['item_id', 'date'], inplace=True)

df_wide = tt.pivot_table(index=['item_id'], 
                         columns='date', 
                         values='sales')

df_wide.fillna(0, inplace=True)

del tt
gc.collect()

df_wide

date,1/1/2012,1/1/2013,1/1/2014,1/1/2015,1/1/2016,1/10/2012,1/10/2013,1/10/2014,1/10/2015,1/10/2016,...,9/8/2011,9/8/2012,9/8/2013,9/8/2014,9/8/2015,9/9/2011,9/9/2012,9/9/2013,9/9/2014,9/9/2015
item_id,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
1,0.0,0.0,1.0,1.0,1.0,0.0,0.0,3.0,2.0,4.0,...,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,3.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,1.0,2.0,0.0,1.0,0.0,2.0,2.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0
819,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
820,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0
821,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,...,0.0,0.0,5.0,3.0,0.0,0.0,0.0,2.0,1.0,0.0
822,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,22.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
train = df_train_final.copy()
validation = df_val_final.copy()
test = df_test_final.copy()

In [47]:
agg_funcs = ['mean', 'std']
shifts = [28]
windows = [7, 14, 30, 60, 360]


for aggregate in agg_funcs:
    for shif in shifts:
        for r in windows:
            roll = df_wide.rolling(r, axis=1).agg(aggregate).shift(shif)
            
            dates = roll.columns
            feature_name = f"roll_{r}_shift_{shif}_{aggregate}"
            
            roll = roll.astype('float16')
            
            roll.reset_index(inplace=True)
            
            roll = pd.melt(roll, 
                           id_vars=['item_id'], 
                           value_vars=dates, 
                           var_name='date', 
                           value_name=feature_name)
            
            roll.fillna(-1, inplace=True)
            
            
            train = train.merge(roll, on=['item_id', 'date'], how='left')
            validation = validation.merge(roll, on=['item_id', 'date'], how='left')
            test = test.merge(roll, on=['item_id', 'date'], how='left')
            
            del roll
            gc.collect()

train

D:\tmp\ipykernel_27392\240239148.py:9: FutureWarning: Support for axis=1 in DataFrame.rolling is deprecated and will be removed in a future version. Use obj.T.rolling(...) instead
  roll = df_wide.rolling(r, axis=1).agg(aggregate).shift(shif)
D:\tmp\ipykernel_27392\240239148.py:9: FutureWarning: Support for axis=1 in DataFrame.rolling is deprecated and will be removed in a future version. Use obj.T.rolling(...) instead
  roll = df_wide.rolling(r, axis=1).agg(aggregate).shift(shif)
D:\tmp\ipykernel_27392\240239148.py:9: FutureWarning: Support for axis=1 in DataFrame.rolling is deprecated and will be removed in a future version. Use obj.T.rolling(...) instead
  roll = df_wide.rolling(r, axis=1).agg(aggregate).shift(shif)
D:\tmp\ipykernel_27392\240239148.py:9: FutureWarning: Support for axis=1 in DataFrame.rolling is deprecated and will be removed in a future version. Use obj.T.rolling(...) instead
  roll = df_wide.rolling(r, axis=1).agg(aggregate).shift(shif)
D:\tmp\ipykernel_27392\240239148.py:9: FutureWarning: Support for axis=1 in DataFrame.rolling is deprecated and will be removed in a future version. Use obj.T.rolling(...) instead
  roll = df_wide.rolling(r, axis=1).agg(aggregate).shift(shif)
D:\tmp\ipykernel_27392\240239148.py:9: FutureWarning: Support for axis=1 in DataFrame.rolling is deprecated and will be removed in a future version. Use obj.T.rolling(...) instead
  roll = df_wide.rolling(r, axis=1).agg(aggregate).shift(shif)
D:\tmp\ipykernel_27392\240239148.py:9: FutureWarning: Support for axis=1 in DataFrame.rolling is deprecated and will be removed in a future version. Use obj.T.rolling(...) instead
  roll = df_wide.rolling(r, axis=1).agg(aggregate).shift(shif)
D:\tmp\ipykernel_27392\240239148.py:9: FutureWarning: Support for axis=1 in DataFrame.rolling is deprecated and will be removed in a future version. Use obj.T.rolling(...) instead
  roll = df_wide.rolling(r, axis=1).agg(aggregate).shift(shif)
D:\tmp\ipykernel_27392\240239148.py:9: FutureWarning: Support for axis=1 in DataFrame.rolling is deprecated and will be removed in a future version. Use obj.T.rolling(...) instead
  roll = df_wide.rolling(r, axis=1).agg(aggregate).shift(shif)
D:\tmp\ipykernel_27392\240239148.py:9: FutureWarning: Support for axis=1 in DataFrame.rolling is deprecated and will be removed in a future version. Use obj.T.rolling(...) instead
  roll = df_wide.rolling(r, axis=1).agg(aggregate).shift(shif)
d:\UvA\AFCS\Ass\FinalAss\.venv\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()
d:\UvA\AFCS\Ass\FinalAss\.venv\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,id,d,sales,date,wday,month,year,event_name_1,event_type_1,event_name_2,...,roll_7_shift_28_mean,roll_14_shift_28_mean,roll_30_shift_28_mean,roll_60_shift_28_mean,roll_360_shift_28_mean,roll_7_shift_28_std,roll_14_shift_28_std,roll_30_shift_28_std,roll_60_shift_28_std,roll_360_shift_28_std
0,FOODS_3_001_TX_3_validation,d_1,0,1/29/2011,1,1,0,30,4,4,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
1,FOODS_3_005_TX_3_validation,d_1,0,1/29/2011,1,1,0,30,4,4,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
2,FOODS_3_007_TX_3_validation,d_1,27,1/29/2011,1,1,0,30,4,4,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
3,FOODS_3_011_TX_3_validation,d_1,1,1/29/2011,1,1,0,30,4,4,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
4,FOODS_3_014_TX_3_validation,d_1,3,1/29/2011,1,1,0,30,4,4,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1246612,FOODS_3_823_TX_3_validation,d_1913,2,4/24/2016,2,4,5,30,4,4,...,0.714355,0.785645,0.700195,0.899902,0.911133,0.951172,1.423828,1.317383,1.623047,1.525391
1246613,FOODS_3_824_TX_3_validation,d_1913,0,4/24/2016,2,4,5,30,4,4,...,0.000000,0.000000,0.000000,0.000000,0.047211,0.000000,0.000000,0.000000,0.000000,0.299561
1246614,FOODS_3_825_TX_3_validation,d_1913,0,4/24/2016,2,4,5,30,4,4,...,0.428467,0.500000,0.266602,0.383301,0.383301,0.786621,0.940430,0.691406,0.761230,0.781250
1246615,FOODS_3_826_TX_3_validation,d_1913,2,4/24/2016,2,4,5,30,4,4,...,0.142822,0.071411,0.033325,0.016663,0.094421,0.377930,0.267334,0.182617,0.129150,0.337158
1246616,FOODS_3_827_TX_3_validation,d_1913,3,4/24/2016,2,4,5,30,4,4,...,0.000000,0.000000,0.033325,0.133301,0.091675,0.000000,0.000000,0.182617,0.430420,0.325195

In [48]:
alphas = [0.99] #0.95, 0.5
SHIFT_DAY = 28

for alpha in alphas:
    roll = df_wide.shift(SHIFT_DAY, axis=1).ewm(alpha=alpha, axis=1, adjust=False).mean()
    
    dates = roll.columns
    feature_name = f"ewm_alpha_{str(alpha).replace('.','')}_shift_{SHIFT_DAY}"
    
    roll = roll.astype('float16')
    
    roll.reset_index(inplace=True)
    
    roll = pd.melt(roll, 
                   id_vars=['item_id'], 
                   value_vars=dates, 
                   var_name='date', 
                   value_name=feature_name)
    
    roll.fillna(-1, inplace=True)
    
    train = train.merge(roll, on=['item_id', 'date'], how='left')
    validation = validation.merge(roll, on=['item_id', 'date'], how='left')
    test = test.merge(roll, on=['item_id', 'date'], how='left')
    
    del roll
    gc.collect()

D:\tmp\ipykernel_27392\209266762.py:5: FutureWarning: Support for axis=1 in DataFrame.ewm is deprecated and will be removed in a future version. Use obj.T.ewm(...) instead
  roll = df_wide.shift(SHIFT_DAY, axis=1).ewm(alpha=alpha, axis=1, adjust=False).mean()

In [49]:
train

d:\UvA\AFCS\Ass\FinalAss\.venv\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()
d:\UvA\AFCS\Ass\FinalAss\.venv\Lib\site-packages\pandas\io\formats\format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,id,d,sales,date,wday,month,year,event_name_1,event_type_1,event_name_2,...,roll_14_shift_28_mean,roll_30_shift_28_mean,roll_60_shift_28_mean,roll_360_shift_28_mean,roll_7_shift_28_std,roll_14_shift_28_std,roll_30_shift_28_std,roll_60_shift_28_std,roll_360_shift_28_std,ewm_alpha_099_shift_28
0,FOODS_3_001_TX_3_validation,d_1,0,1/29/2011,1,1,0,30,4,4,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000099
1,FOODS_3_005_TX_3_validation,d_1,0,1/29/2011,1,1,0,30,4,4,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.990234
2,FOODS_3_007_TX_3_validation,d_1,27,1/29/2011,1,1,0,30,4,4,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,9.968750
3,FOODS_3_011_TX_3_validation,d_1,1,1/29/2011,1,1,0,30,4,4,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.990234
4,FOODS_3_014_TX_3_validation,d_1,3,1/29/2011,1,1,0,30,4,4,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1246612,FOODS_3_823_TX_3_validation,d_1913,2,4/24/2016,2,4,5,30,4,4,...,0.785645,0.700195,0.899902,0.911133,0.951172,1.423828,1.317383,1.623047,1.525391,0.009903
1246613,FOODS_3_824_TX_3_validation,d_1913,0,4/24/2016,2,4,5,30,4,4,...,0.000000,0.000000,0.000000,0.047211,0.000000,0.000000,0.000000,0.000000,0.299561,0.010002
1246614,FOODS_3_825_TX_3_validation,d_1913,0,4/24/2016,2,4,5,30,4,4,...,0.500000,0.266602,0.383301,0.383301,0.786621,0.940430,0.691406,0.761230,0.781250,0.020004
1246615,FOODS_3_826_TX_3_validation,d_1913,2,4/24/2016,2,4,5,30,4,4,...,0.071411,0.033325,0.016663,0.094421,0.377930,0.267334,0.182617,0.129150,0.337158,0.000099
1246616,FOODS_3_827_TX_3_validation,d_1913,3,4/24/2016,2,4,5,30,4,4,...,0.000000,0.033325,0.133301,0.091675,0.000000,0.000000,0.182617,0.430420,0.325195,0.000001

In [50]:
train.columns

Index(['id', 'd', 'sales', 'date', 'wday', 'month', 'year', 'event_name_1',
       'event_type_1', 'event_name_2', 'event_type_2', 'snap_TX', 'item_id',
       'sell_price', 'week_number', 'season', 'quater_start', 'quater_end',
       'month_start', 'month_end', 'year_start', 'year_end',
       'roll_7_shift_28_mean', 'roll_14_shift_28_mean',
       'roll_30_shift_28_mean', 'roll_60_shift_28_mean',
       'roll_360_shift_28_mean', 'roll_7_shift_28_std', 'roll_14_shift_28_std',
       'roll_30_shift_28_std', 'roll_60_shift_28_std', 'roll_360_shift_28_std',
       'ewm_alpha_099_shift_28'],
      dtype='object')

In [51]:
for lag in range(28, 100, 7):
    feat_name = 'direct_lag_' + str(lag)
    
    # 1. Shift the wide dataframe (columns are dates)
    # We shift by 'lag' columns to the right
    lag_i = df_wide.shift(lag, axis=1)
    
    # 2. Capture the date columns before resetting index
    # (These are the columns we will melt)
    dates = lag_i.columns
    
    # 3. Handle the Index to prepare for melt
    # Move 'item_id' from index to a column
    lag_i.reset_index(inplace=True)
    
    # 4. Melt from Wide to Long format
    # This aligns the data so it can be merged with your training sets
    lag_i = pd.melt(lag_i, 
                    id_vars=['item_id'], 
                    value_vars=dates, 
                    var_name='date', 
                    value_name=feat_name)
    
    # 5. Fill NaNs and optimize memory
    lag_i.fillna(-1, inplace=True)
    lag_i[feat_name] = lag_i[feat_name].astype('int16')
    
    # 6. Merge the new feature into your 3 datasets
    # We use 'how=left' to ensure we don't lose rows if dates don't perfectly align
    train = train.merge(lag_i, on=['item_id', 'date'], how='left')
    validation = validation.merge(lag_i, on=['item_id', 'date'], how='left')
    test = test.merge(lag_i, on=['item_id', 'date'], how='left')
    
    print("Feature created for lag", lag)
    
    # 7. Clean up to prevent RAM explosion
    del lag_i
    gc.collect()

train

Feature created for lag 28
Feature created for lag 35
Feature created for lag 42
Feature created for lag 49
Feature created for lag 56
Feature created for lag 63
Feature created for lag 70
Feature created for lag 77
Feature created for lag 84
Feature created for lag 91
Feature created for lag 98

,id,d,sales,date,wday,month,year,event_name_1,event_type_1,event_name_2,...,direct_lag_35,direct_lag_42,direct_lag_49,direct_lag_56,direct_lag_63,direct_lag_70,direct_lag_77,direct_lag_84,direct_lag_91,direct_lag_98
0,FOODS_3_001_TX_3_validation,d_1,0,1/29/2011,1,1,0,30,4,4,...,0,0,0,1,0,1,0,0,4,0
1,FOODS_3_005_TX_3_validation,d_1,0,1/29/2011,1,1,0,30,4,4,...,1,0,0,1,1,2,0,0,0,1
2,FOODS_3_007_TX_3_validation,d_1,27,1/29/2011,1,1,0,30,4,4,...,0,0,0,0,8,3,0,25,6,1
3,FOODS_3_011_TX_3_validation,d_1,1,1/29/2011,1,1,0,30,4,4,...,0,0,1,0,0,2,0,2,0,1
4,FOODS_3_014_TX_3_validation,d_1,3,1/29/2011,1,1,0,30,4,4,...,0,0,1,0,0,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1246612,FOODS_3_823_TX_3_validation,d_1913,2,4/24/2016,2,4,5,30,4,4,...,0,1,0,0,0,0,0,1,0,0
1246613,FOODS_3_824_TX_3_validation,d_1913,0,4/24/2016,2,4,5,30,4,4,...,3,0,0,1,0,0,2,0,0,0
1246614,FOODS_3_825_TX_3_validation,d_1913,0,4/24/2016,2,4,5,30,4,4,...,0,3,1,2,0,1,4,1,0,1
1246615,FOODS_3_826_TX_3_validation,d_1913,2,4/24/2016,2,4,5,30,4,4,...,0,1,1,3,0,0,0,0,1,0
1246616,FOODS_3_827_TX_3_validation,d_1913,3,4/24/2016,2,4,5,30,4,4,...,0,0,3,0,0,0,0,2,0,0

In [ ]:
train.to_csv('train.csv',index=False)
validation.to_csv('val.csv',index=False)
test.to_csv('test.csv',index=False)